-cache(cache_key_for_results("stats")) do
  %table.table.table-condensed.table-striped.table-bordered
    %tbody
      %tr
        %td Partite giocate:
        %td=Match.where("played = 't'").count
      %tr
        %td Vinte dai bianchi:
        %td=Match.where("white_goals > black_goals").count
      %tr
        %td Vinte dai neri:
        %td=Match.where("white_goals < black_goals").count
      %tr
        %td Pareggiate:
        %td=Match.where("white_goals = black_goals").where("played = 't'").count
      %tr
        %td Goals bianchi:
        %td=Match.sum(:white_goals)
      %tr
        %td Goals neri:
        %td=Match.sum(:black_goals)
      %tr
        %td="Coppie più proficue con #{@good_score} vittorie"
        %td.text-nowrap
          -@good_pairs.each do |pair|
            ="#{pair[0].name} e #{pair[1].name}"
            %br
      %tr
        %td="Coppie meno proficue con #{@bad_score} sconfitte"
        %td.text-nowrap
          -@bad_pairs.each do |pair|
            ="#{pair[0].name} e #{pair[1].name}"
            %br
