<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :played_on %><br>
    <%= f.date_select :played_on %>
  </div>
  <div class="field">
    <%= f.label :white_goal %><br>
    <%= f.number_field :white_goal %>
  </div>
  <div class="field">
    <%= f.label :black_goal %><br>
    <%= f.number_field :black_goal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
