-cache(cache_key_for_results("match-show-#{@match.id}")) do
  -white_score=0
  -black_score=0
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th.text-center{colspan:2}
          Data:
          =I18n.l(@match.played_on, format: "%d/%m/%Y")
        -if !@match.played
          %tr
            %th.text-center Vinte dai bianchi:
            %th.text-center Vinte dai neri:
          %tr
            %th.text-center=Match.where("white_goals > black_goals").count
            %th.text-center=Match.where("white_goals < black_goals").count
        -else
          %tr
            %th.text-center Goal bianchi:
            %th.text-center Goal neri:
          %tr
            %th.text-center=@match.white_goals
            %th.text-center=@match.black_goals
    %tbody
      %tr
        %td.text-center{style: "padding:15px"}
          %table.table.table-bordered.table-condensed.table-striped.table-hover{style: "margin-bottom:0px"}
            -percs=0
            -players=0
            -@match.presences.includes(:player).where(team: "white").order("id ASC").each do |p|
              %tr.clickable-row{data: {href: player_path(p.player)}}
                %td
                  =p.player.name
                -if !@match.played
                  %td
                    -results=p.player.results
                    -score=score(results)
                    -if results[0] != 0
                      -perc=(score*100/(results[0]*3))
                    -else
                      -perc=100
                    ="#{perc.to_s}%"
                    -percs=percs+perc
                    -players=players+1
                    -white_score = white_score + score
            -if !@match.played
              %tr
                %td
                %td.success
                  %strong
                    ="#{percs/players}%"
        %td.text-center{style: "padding:15px"}
          %table.table.table-bordered.table-condensed.table-striped.table-hover{style: "margin-bottom:0px"}
            -percs=0
            -players=0
            -@match.presences.includes(:player).where(team: "black").order("id ASC").each do |p|
              %tr.clickable-row{data: {href: player_path(p.player)}}
                %td
                  =p.player.name
                -if !@match.played
                  %td
                    -results=p.player.results
                    -score=score(results)
                    -if results[0] != 0
                      -perc=(score*100/(results[0]*3))
                    -else
                      -perc=100
                    ="#{perc.to_s}%"
                    -percs=percs+perc
                    -players=players+1
                    -black_score = black_score + score
            -if !@match.played
              %tr
                %td
                %td.success
                  %strong
                    ="#{percs/players}%"
